
h1,h2,h3,h4,h5,h6{
    font-family: "raleway";
    color:#ffffff;
   
}


section{
	
}
#home {
	   background:none;
	   width:100%;
  	  }
#home-bg-video{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
	min-height:100%;
	min-width:100%;
    height:auto;
	width:auto;
	z-index:-1;
	background-size:cover;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
nav{
	color:#fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.parent-div{
	font-size:20px;
	color:red;
	
}
.footer{
	color:#f8edeb;
}
